.post-submit {
  margin: 0px;
  height: 26%;
  cursor: pointer;
  border-radius: 12px;
  border: solid 2px white;
  width: 25%;
  background: black;
  color: white;
  padding: 11px;
  padding: 11px;
}

.posts-container {
  background-color: whitesmoke;
  height: auto;
  align-items: center;
  width: 76%;
}

.post-content {
  flex-direction: column;
  display: flex;
  height: 170px;
  width: 100%;
}

.post-content button {
  width: 20%;
}
.image-container {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 100%;
}
img {
  height: 80%;
  width: 80%;
}

.comment-container {
  padding-left: -20px;
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
}

.comment-container input {
  height: 100%;
  width: 70%;
  background-color: whitesmoke;
}
.comment-container button {
  width: 30%;
  font-size: 10px;
}

.model-2 .checkbox label {
  width: 40px;
}
.model-2 .checkbox label:after {
  top: 0;
  width: 15px;
  height: 15px;
}
.model-2 .checkbox input:checked + label {
  background: #4bd865;
}
.model-2 .checkbox input:checked + label:after {
  left: 25px;
}

/*=====================*/
.checkbox {
  position: relative;
  display: inline-block;
}
.checkbox:after,
.checkbox:before {
  font-family: FontAwesome;
  font-feature-settings: normal;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}
.checkbox label {
  width: 10px;
  height: 15px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
}
.checkbox label:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  left: 0;
  top: -5px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox input:hover + label:after {
  box-shadow: 0 2px 6px gray, 0 3px 8px 0 gray;
}
.checkbox input:checked + label:after {
  left: 20px;
}

#post-img-up {
  border-color: transparent;
}
#post-img-up::-webkit-file-upload-button {
  background-color: transparent;
  color: transparent;
  border: transparent;
}

.action-post-btn1 svg {
  transform: scale(0.5);
}

.action-post-btn2 svg {
  transform: scale(0.5);
}

.action-post-btn1 svg:hover {
  fill: red;
  stroke: red;
}

.action-post-btn2 svg:hover {
  fill: green;
  stroke: #4bd865;
}
