.t-dashboard {
  height: 100vh;
  width: 100vw;
}
#t-nav {
  margin: 0px;
  background-color: bisque;
  height: 10%;
  width: 100%;
  padding: 0px;
}
#t-nav ul {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

#t-nav ul li {
  height: 80%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.t-main {
  height: 100%;
}
.t-aside {
  height: 100%;
  width: 10vw;
  background: darkgrey;
  margin: 0px;
}

.t-aside ul {
  height: 100%;
  margin: 0px;
  padding: 20px;
  list-style-type: none;
}

.t-aside ul li {
  height: 10%;
  width: 80%;
  font-size: 1rem;
  margin-top: 4px;
}
