.t-dashboard {
  height: 100vh;
  width: 100vw;
}
#t-nav {
  margin: 0px;
  background-color: bisque;
  height: 10vh;
  width: 100%;
  padding: 0px;
}
#t-nav ul {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

#t-nav ul li {
  height: 80%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.t-main {
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.t-aside {
  height: 100%;
  width: 10vw;
  background: darkgrey;
  margin: 0px;
}

.t-aside ul {
  height: 90%;
  margin: 0px;
  padding: 20px;
  padding-bottom: 0px;
  list-style-type: none;
}

.t-aside ul li {
  height: 10%;
  width: 80%;
  font-size: 1rem;
  margin-top: 4px;
}

.t-wrapper {
  background-color: yellow;
  height: 100%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

a {
  text-decoration: none;

  color: black;
}

.course-container {
  display: flex;
  padding: 20px;
  justify-content: center;
  margin-left: 50px;
  margin-top: 20px;
  height: 250px;
  width: 250px;
  background: whitesmoke;
  border: solid 1px red;
  border-radius: 20px;
}
