#root {
  margin: 0px;
  padding: 0px;
}
.u-dashboard {
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: gainsboro;
}
#u-nav {
  justify-content: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 8vh;
  background-color: white;
  width: 100%;
  display: flex;
}

#u-nav ul {
  margin: 0px;
  padding: 0px;
  background-color: white;
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

#u-nav ul li {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-wrapper {
  width: 92%;
}
.u-main {
  display: flex;
  height: 90vh;
  width: 100%;
  background: rgb(255, 255, 255);
  flex-direction: row;
}
.u-feed {
  overflow-y: scroll;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 61%;
  background: gray;
  margin-left: 10%;
  align-items: center;
}
.u-side-panel {
  height: 100%;
  width: 30%;
  background: green;
}
.create-post {
  display: flex;
  margin-top: 20px;
  height: 30%;
  width: 80%;
  background: aliceblue;
  flex-direction: column;
  align-items: flex-start;
}

.post-container {
  height: 80%;
  width: 80%;
  margin-top: 20px;
  background: whitesmoke;
}

.post-pic {
  margin: 10px;
  height: 20%;
  width: 39%;
  background: orange;
  border: solid 2px wheat;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.post-btn {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.post-submit {
  margin: 0px;
  height: 26%;
  cursor: pointer;
  border-radius: 12px;
  border: solid 2px white;
  width: 25%;
  background: black;
  color: white;
  padding: 11px;
  padding: 11px;
}

.aside-f-list ul li:hover {
  background-color: #c8e8ef;
}

#hsdlkfjah:hover {
  background-color: rgba(252, 156, 156, 0.89);
}
